<nav>
    <h4>Bariact</h4>
    <ul>
        <li><a href="/">Home</a></li>
        {{#if user}} 
            <li><a href="/profile">Profile</a></li>
            <li><a href="/auth/logout">Log Out</a></li>
        {{else}}
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        {{/if}}
    </ul>
</nav>

<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">Bariatric Surgery Web</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
</div>
