nav {
    background-color: #6a5c7a;
    color: white;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    list-style: none;
}

nav li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 2px 20px;
    border-right: 2px;
    display: block;
}

nav li a:hover {
    color: rgb(148, 155, 141);
    text-decoration: none;
}

.avatar-ctn {
    background-color: transparent;
    text-align: center;
}

.avatar {
    width: 50%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding: 6px;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}


/* Style the submit button */

input[type=submit] {
    background-color: greenyellow;
    color: white;
}


/* Style the container for inputs */

.container {
    background-color: #f1f1f1;
    padding: 20px;
}


/* The message box is shown when the user clicks on the password field */

#messagePassword {
    display: none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#messageIC {
    display: none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#messagePassword p {
    padding: 10px 35px;
    font-size: 18px;
}

#messageIC p {
    padding: 10px 35px;
    font-size: 18px;
}


/* Add a green text color and a checkmark when the requirements are right */

.valid {
    color: rgb(146, 231, 17);
}

.valid:before {
    position: relative;
    left: -35px;
}


/* Add a red text color and an "x" icon when the requirements are wrong */

.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
}

#messageAlert {
    margin: auto;
    width: 60%;
    border: 5px solid red;
    padding: 10px;
}

select,
input,
button {
    border-width: 0px;
}