<div class="col-6">
	<div class="form-floating mb-3">
		<input type="text" class="form-control" id="name" placeholder="Food Name" name="name" id="name" value="{{this.name}}">
		<label for="name">Food Name</label>
	</div>
</div>

<div class="col-6">
	<div class="form-floating mb-3">
		<input type="text" class="form-control" id="calories" placeholder="Calories" name="calories" id="calories" value="{{this.calories}}">
		<label for="calories">Calories</label>
	</div>
</div>

<div class="col-6">
	<div class="form-floating mb-3">
		<input type="text" class="form-control" id="type" placeholder="Meal" name="type" id="type" value="{{this.type}}">
		<label for="type">Meals</label>
	</div>
</div>

<div class="col-12">
	<div class="form-floating mb-3">
		<textarea class="form-control" id="comments" placeholder="Notes" name="comments" id="comments" style="height: 100px;">{{this.comments}}</textarea>
		<label for="comments">Notes(optional)</label>
	</div>
</div>

<div class="col-12 d-grid">
	<button class="btn btn-primary" type="submit">Submit</button>
</div>	
			